src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:azure-cosmos-db-connector-mule-4="http://www.mulesoft.org/schema/mule/azure-cosmos-db-connector-mule-4"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/azure-cosmos-db-connector-mule-4 http://www.mulesoft.org/schema/mule/azure-cosmos-db-connector-mule-4/current/mule-azure-cosmos-db-connector-mule-4.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get_customer" doc:id="ee066ba9-8094-4271-81a7-bc19dde8998c" >
		<salesforce:query doc:name="Query" doc:id="0d657c09-9173-4542-bf67-e219aa2ecfae" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT FIELDS(ALL) FROM Account WHERE cust_id__c = ':cust_id' LIMIT 200]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	cust_id : attributes.uriParams.'cust_id'
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="6376b071-6b92-449e-a193-a7db1b148fb6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	address: {
		country: payload.ShippingCountry,
		city: payload.ShippingCity,
		street: payload.ShippingStreet,
		postalCode: payload.ShippingPostalCode,
		houseNumber: payload.ShippingStreet
	},
	personalInformation: {
		firstName: payload.Name default "",
		phone: payload.Phone,
		companyName: payload.OwnerId default "",
		email: payload.Fax default ""
	},
	customerId: payload.cust_id__c default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="create_or_update_customer_salesforce" doc:id="b44db938-c644-4612-a0d3-c87275e0eab9" >
		<ee:transform doc:name="Transform Message" doc:id="9a764ba4-a9e7-4bea-b4c6-ed0c7c8b8ffa">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
	cust_id__c: payload.personalInformation.lastName[0 to 6] ++ payload.personalInformation.firstName[0],
	Name: payload.personalInformation.firstName,
	Type: payload.personalInformation.lastName,
	Phone: payload.personalInformation.phone as String,
	Fax: payload.personalInformation.email,
	Website: payload.personalInformation.companyName
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert doc:name="Upsert" doc:id="1a9d4d1e-3bab-4e5e-ac3d-a0fd003df137" config-ref="Salesforce_Config" objectType="Account" externalIdFieldName="cust_id__c" />
		<ee:transform doc:name="Transform Message" doc:id="5e9ee55d-edda-461a-8808-b2eaa735791c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "User added to salesforce"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="create_customer_final" doc:id="29724991-937f-4285-9140-1e1709079685" >
		<set-variable value="#[payload.personalInformation.lastName[0 to 6] ++ payload.personalInformation.firstName[0]]" doc:name="cust_id" doc:id="7d21c183-bf89-4b06-b76e-aa342776be52" variableName="cust_id" />
		<scatter-gather doc:name="Scatter-Gather" doc:id="60177c60-336c-4ce3-a3e4-ffdd4af7589e" >
			<route >
				<set-variable value='""' doc:name="query_results" doc:id="b62f2c19-224d-4edc-9060-03690176631f" variableName="query_results" />
				<db:select doc:name="Select" doc:id="3d9f6f4f-fd6e-4ccc-acae-8ec81e3b1ad0" config-ref="Database_Config" target="query_results">
			<db:sql><![CDATA[SELECT * FROM customers.customers WHERE cust_id = :cust_id]]></db:sql>
			<db:input-parameters><![CDATA[#[{cust_id: vars.cust_id}]]]></db:input-parameters>
		</db:select>
				<choice doc:name="Choice" doc:id="54c1761a-f3f3-4dee-b595-670b686471d9" >
					<when expression="#[isEmpty(vars.query_results)]">
						<db:insert doc:name="Insert" doc:id="b3d39555-6472-4ecd-ae14-85bbc39c99f2" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO customers (cust_id, firstName, lastName, companyName, email, phone, street, housenumber, city, country, postalCode) VALUES (:cust_id, :firstName, :lastName, :companyName, :email, :phone, :street, :houseNumber, :city, :country, :postalCode)]]></db:sql>
			<db:input-parameters><![CDATA[#[{country: payload.address.country, city: payload.address.city, street: payload.address.street, postalCode: payload.address.postalCode, houseNumber: payload.address.houseNumber, firstName: payload.personalInformation.firstName, lastName: payload.personalInformation.lastName, phone: payload.personalInformation.phone, companyName: payload.personalInformation.companyName, email: payload.personalInformation.email, cust_id: vars.cust_id}]]]></db:input-parameters>
		</db:insert>
						<set-variable value='User created' doc:name="Set Variable" doc:id="dac1229c-d27f-459e-b9c2-c5da7fbf184c" variableName="added"/>
					</when>
					<otherwise >
						<set-variable value="0" doc:name="Set Variable" doc:id="b1949678-5705-42bc-9e32-94643d7b1156" variableName="added"/>
					</otherwise>
				</choice>
			</route>
			<route >
				<flow-ref doc:name="create_or_update_customer_salesforce" doc:id="744e3302-6cc9-4184-bf33-1b7681de7ce2" name="create_or_update_customer_salesforce"/>
				<set-variable value="#[payload.message]" doc:name="Set Variable" doc:id="8caf700b-6b90-4941-bf5c-ff093ff76042" variableName="IsAddedSalesforce"/>
				<logger level="INFO" doc:name="Logger" doc:id="6892f3ae-b567-4796-9d54-ffc8481d47e1" />
			</route>
		</scatter-gather>
		<logger level="INFO" doc:name="Logger" doc:id="7ee017fb-d1a8-4fb9-b096-d187d1cef88d" />
		<ee:transform doc:name="Transform Message" doc:id="bc1b6720-adfc-47a5-b0c2-09676be769e5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
var results = {
	"sf": vars.IsAddedSalesforce,
	"db": vars.added
}

output application/json
---
{
	a: results.sf match {
		case "User added to salesforce" -> true
		else -> false
	},
	b: results.db match {
		case "User created" -> true
		else ->false
	}
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="0bfb1aa9-8da5-49bd-a14e-ce6753e208f2" >
			<when expression="#[payload.a  and payload.b]">
				<ee:transform doc:name="Transform Message" doc:id="e4b89179-afba-4fcc-b8a8-6a66a5a1dcd3" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "User added in Salesforce and DB"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[payload.a and not payload.b]">
				<ee:transform doc:name="Transform Message" doc:id="113a4c2c-ac7b-48d1-9a6a-45f009f3f0a3" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "User added only to salesforce"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[payload.b and not payload.a]">
				<ee:transform doc:name="Transform Message" doc:id="94b86716-1ac7-4ee7-b241-52744949c761" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "User added only to DB"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="0c4538f7-64be-4cc2-80b2-aa3af61c0091" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "User already exists"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
