src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:azure-cosmos-db-connector-mule-4="http://www.mulesoft.org/schema/mule/azure-cosmos-db-connector-mule-4"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/azure-cosmos-db-connector-mule-4 http://www.mulesoft.org/schema/mule/azure-cosmos-db-connector-mule-4/current/mule-azure-cosmos-db-connector-mule-4.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get_customer" doc:id="ee066ba9-8094-4271-81a7-bc19dde8998c" >
		<salesforce:query doc:name="Query" doc:id="0d657c09-9173-4542-bf67-e219aa2ecfae" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT FIELDS(ALL) FROM Account WHERE cust_id__c = ':cust_id' LIMIT 200]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	cust_id : attributes.uriParams.'cust_id'
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="6376b071-6b92-449e-a193-a7db1b148fb6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	address: {
		country: payload.ShippingCountry,
		city: payload.ShippingCity,
		street: payload.ShippingStreet,
		postalCode: payload.ShippingPostalCode,
		houseNumber: payload.ShippingStreet
	},
	personalInformation: {
		firstName: payload.Name default "",
		phone: payload.Phone,
		companyName: payload.OwnerId default "",
		email: payload.Fax default ""
	},
	customerId: payload.cust_id__c default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="create_customer" doc:id="b44db938-c644-4612-a0d3-c87275e0eab9" >
		<ee:transform doc:name="Transform Message" doc:id="9a764ba4-a9e7-4bea-b4c6-ed0c7c8b8ffa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
	cust_id__c: lower(payload.personalInformation.firstName ++ payload.personalInformation.lastName[0]),
	Name: payload.personalInformation.firstName,
	Type: payload.personalInformation.lastName,
	Phone: payload.personalInformation.phone as String,
	Fax: payload.personalInformation.email,
	Website: payload.personalInformation.companyName
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert doc:name="Upsert" doc:id="1a9d4d1e-3bab-4e5e-ac3d-a0fd003df137" config-ref="Salesforce_Config" objectType="Account" externalIdFieldName="cust_id__c"/>
		<ee:transform doc:name="Transform Message" doc:id="7bec074a-3df8-48f6-ae88-d2ae662f73c4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="create_customer_db" doc:id="17c9e3b1-e63a-4f11-8a03-5a6620e9af48" >
		<set-variable value="#[payload]" doc:name="pre_sql_query_payload" doc:id="1b511ea7-beac-4aea-9dba-d48e384103db" variableName="pre_sql_query" />
		<set-variable value="#[payload.personalInformation.firstName ++ payload.personalInformation.lastName[0]]" doc:name="cust_id" doc:id="7d21c183-bf89-4b06-b76e-aa342776be52" variableName="cust_id"/>
		<db:select doc:name="Select" doc:id="3d9f6f4f-fd6e-4ccc-acae-8ec81e3b1ad0" config-ref="Database_Config" targetValue="#[vars.]">
			<db:sql ><![CDATA[SELECT * FROM customers.customers WHERE cust_id = :cust_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{cust_id: vars.cust_id}]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[payload]" doc:name="query_result" doc:id="74642017-da7f-4cc5-83e3-fe072d914fea" variableName="query_result"/>
		<set-payload value="#[vars.pre_sql_query]" doc:name="to pre sql query payload" doc:id="d0b1a12e-efe0-4247-bc5d-e005204e15c8" />
		<choice doc:name="Choice" doc:id="5abdaaf1-114a-4de1-b1d0-8d6fa3bbd7e7" >
			<when expression="#[isEmpty(vars.query_result)]">
				<db:insert doc:name="Insert" doc:id="b3d39555-6472-4ecd-ae14-85bbc39c99f2" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO customers (cust_id, firstName, lastName, companyName, email, phone, street, housenumber, city, country, postalCode) VALUES (:cust_id, :firstName, :lastName, :companyName, :email, :phone, :street, :houseNumber, :city, :country, :postalCode)]]></db:sql>
			<db:input-parameters><![CDATA[#[{country: payload.address.country, city: payload.address.city, street: payload.address.street, postalCode: payload.address.postalCode, houseNumber: payload.address.houseNumber, firstName: payload.personalInformation.firstName, lastName: payload.personalInformation.lastName, phone: payload.personalInformation.phone, companyName: payload.personalInformation.companyName, email: payload.personalInformation.email, cust_id: vars.cust_id}]]]></db:input-parameters>
		</db:insert>
				<set-payload value="#[message: 'User created']" doc:name="Set Payload" doc:id="c0f2e8b2-e815-4c48-8211-dddaa797c957" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="c8a9cdfb-7db0-4e07-889e-d14c33c4309d" message="Message: user exists"/>
			</otherwise>
		</choice>
	</flow>
</mule>
